body{
    background-size:cover;
}

.login{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    font-family: Adamina, serif;
}

.submit_button{
    margin-left: 43.75Rem;
    margin-top: 2rem;
    font-family: Adamina, serif;
}
.add_prj_button{
    margin-left: 43.75Rem;
    margin-top: -10rem;
    font-family: Adamina, serif;
}

.radio_button{
    margin-left: 23rem;
    margin-top: 1rem;
    font-size: larger;
    font-weight: 600;
}

.register{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    font-family: Adamina, serif;
    color: crimson;
}

.project_form{
    margin-bottom: 20px;
    width: 50%;
    font-family: 'Abhaya Libre', serif;
    margin-left: 25rem;
    margin-top: 1.5rem;
}
.heading{
    text-align: center;
    color: chartreuse;
    margin-top: 7rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.task_form{
    margin-bottom: 20px;
    width: 50%;
    font-family: 'Abhaya Libre', serif;
    margin-left: 25rem;
}

.cmt_form{
    width: 50%;
    margin-top: 20px;
    margin-left: 25rem;
}

.form_heading{
    text-align: center;
    font-family: 'Abhaya Libre', serif;  
    margin-top: 122px;
    color: chartreuse;
    
}

/* **************************Table CSS************************************************* */
.project_table{
    border-width: 5px;
    border-color: black;
    width: 60%;
    margin:10rem auto;
    background-color: white;
}

.table_header{
    border-width: 2px;;
    border-color: black;
}

.table_row{
    border-width: 2px;
    border-color: black;
    
}
/* *******************************Admin_page************************************ */

.add_project{
    width: 18rem;
    height: 18rem;

    margin-top: 3rem;
}
.user{
    display: flex;
    margin-top: 2rem;
}
.add_user{
    width: 18rem;
    height: 18rem;
    margin-top: 3rem;
    margin-right: 38rem;
}

.imag{
    width: 18rem;
    height: 14rem;
}
.btn-class{
    padding: 8px;    
}
.btn-class1{
    padding: 8px;    
}
.add-btn{
    margin-left: 2rem;
    margin-right: 2rem;
}
.add-btn2{
    margin-right: 2rem;
}
.assign_task_page{
    margin: 20rem;
    margin-bottom: 5rem;
    background-color: rgb(119, 186, 31);
    align-items: center;
    width: 30%;
    height: 40%;
    position: relative;
    left: 15rem;
    font-size: 35px;
    bottom: 15rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.check_boxs{
    margin-left: 8rem;
    width: 7rem;
}

.assign_button{
   
    bottom: 20rem;
    top: -18rem;
    width: 180%;
}

a {
    text-decoration: none;
    color:crimson
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: chartreuse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.user_main_div{
    width: 25%;
    border-radius: 5%;
    margin-left: 3rem;
    margin-top: 5rem;
}

.userdiv{
    width: 5rem;
}

.my_image{
    width: 18rem;
    height: 14rem;
    /* border-radius: 100%; */
    margin-left: 2.5rem;
    margin-top: 5rem;
}

.image{
    
    margin-left: 7rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 10rem;
}
.navbar_color{
    background-color: aqua;
    height: 5rem;
}