<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/project/add/{{admin_id}}" method="post">
        <input type="text" name="P_name" placeholder="name"/>
        <input type="text" name="P_desc" placeholder="status"/>
        <input type="text" name="P_status" placeholder="desc"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>