{% extends 'base.html' %}
{% block title %}ADD PROJECT{% endblock %}

{% block content %}
<h1 style="text-align: center;margin-top: 120px;font-family: Adamina, serif;">Add New Project</h1>
    <form method="POST" action="{{url_for('add_project',admin_id=admin_id)}}">
        <div class="row">
            <div class="col">
                <input class="form-control project_form" name="name" type="text" placeholder="Project Name:" >
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="form-control project_form" name="status" type="text" placeholder="Status:" >

            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="form-control project_form" name="desc" type="text" placeholder="Description:" >

            </div>
        </div>
        <div class="submit">
                <button class="btn btn-dark submit_button" type="submit">Submit</button>            
        </div>
    </form>
{% endblock %}
