{% extends 'base.html' %}
{% block title %}ADD PROJECT{% endblock %}

{% block content %}
<button class="btn btn-light home_button" type="button"><a href="{{url_for('home',admin_id=admin_id)}}">Home</a></button>
<h1 class="heading ">Add New Project</h1>
    <form method="POST" action="{{url_for('add_project',admin_id=admin_id)}}">
        <div class="row">
            <div class="col">
                <input class="form-control project_form" name="name" type="text" placeholder="Project Name:" >
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="form-control project_form" name="status" type="text" placeholder="Status:" >

            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="form-control project_form" name="desc" type="text" placeholder="Description:" >

            </div>
        </div>
        <div class="submit">
                <button class="btn btn-primary submit_button" type="submit">Submit</button>            
        </div>
    </form>
{% endblock %}
