<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/user/update/{{user.U_id}}" method="post">
        <input type="text" name="U_name" placeholder="name" value = "{{user.U_name}}"/>
        <input type="text" name="U_email" placeholder="email" value = "{{user.U_email}}"/>
        <input type="text" name="U_status" placeholder="status" value = "{{user.U_status}}"/>
        <input type="text" name="U_gender" placeholder="gender" value = "{{user.U_gender}}"/>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>