<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
</head>
<body>
        {% for cmt in users %}
        <h1>{{cmt.C_by}}</h1>
        <p>{{cmt.C_to}}</p>
        <p>{{cmt.C_time}}</p>
        <p>{{cmt.C_text}}</p>
        <button><a href="{{url_for('user_add_comment',T_id=cmt.T_id )}}">Add</a></button>
        <button><a href="{{url_for('user_delete_comment',P_id=cmt.T_id)}}">Delete</a></button>
        {% endfor %}
</body>
</html>