{% extends 'base.html' %}

{% block title %}Task Management{% endblock %}

{% block content %}
<button class="btn btn-light home_button" type="button"><a href="{{url_for('home',admin_id=admin_id)}}">Home</a></button>
<h1 class="heading"> Update Task</h1>
    <form method="POST" action="{{url_for('user_update_task',task_id=tsk.Task_id)}}">
        <div class="row">
            <div class="col">
                <input class="form-control task_form" name="T_status" type="text" placeholder="Status:"value="{{tsk.T_status}}"  >

            </div>
        </div>
        <div class="submit">
                <button class="btn btn-dark submit_button" type="submit">Submit</button>            
        </div>
    </form>
{% endblock %}